## HOMEWORK CHTPR 6

## EX 1

In [1]:
import pandas as pd

In [2]:
ramen_url = 'C:\\Users\\Seith Sproule\\Documents\\UNI\\ramen-ratings.csv'
ramen_data = pd.read_csv(ramen_url)
ramen_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   object
 3   Country  2577 non-null   object
 4   Stars    2577 non-null   float64
dtypes: float64(1), object(4)
memory usage: 100.8+ KB

In [3]:
#Q2
ramen_cols = {'Stars':'Rating'}
ramen_data.rename(columns = ramen_cols, inplace=True)
ramen_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   object
 3   Country  2577 non-null   object
 4   Rating   2577 non-null   float64
dtypes: float64(1), object(4)
memory usage: 100.8+ KB

In [4]:
#Q3
ramen_data.Style = ramen_data.Style.astype('category')
ramen_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   category
 3   Country  2577 non-null   object
 4   Rating   2577 non-null   float64
dtypes: category(1), float64(1), object(3)
memory usage: 83.5+ KB

In [5]:
#Q4
ramen_data.drop(columns=['Country'],inplace=True)
ramen_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   category
 3   Rating   2577 non-null   float64
dtypes: category(1), float64(1), object(2)
memory usage: 63.4+ KB

In [6]:
#Q5
ramen_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   category
 3   Rating   2577 non-null   float64
dtypes: category(1), float64(1), object(2)
memory usage: 63.4+ KB

In [7]:
#Q6
ramen_cols = {'Brand':'Company','Variety':'Product'}
ramen_data.rename(columns = ramen_cols, inplace=True)
ramen_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  2577 non-null   object
 1   Product  2577 non-null   object
 2   Style    2575 non-null   category
 3   Rating   2577 non-null   float64
dtypes: category(1), float64(1), object(2)
memory usage: 63.4+ KB

In [8]:
#Q7
ramen_data[ramen_data.duplicated(subset=['Company', 'Product'], keep=False)]

              Company                          Product Style  Rating
2              Nissin    Cup Noodles Chicken Vegetable   Cup    2.25
24     Ching's Secret       Hot Garlic Instant Noodles  Pack    4.25
46           Nongshim                Shin Ramyun Black  Pack    5.00
69            MyKuali  Penang Red Tom Yum Goong Noodle  Pack    5.00
75           Nongshim                      Shin Ramyun  Pack    3.00
...               ...                              ...   ...     ...
2545             Koka           Mi Hai Cua Crab Flavor  Pack    3.50
2552           Nissin         Demae Ramen Spicy Flavor  Pack    3.00
2556         Nongshim        Champong Oriental Noodles  Pack    4.00
2558         Nongshim                      Shin Ramyun  Pack    4.00
2565  Sapporo Ichiban                    Shrimp Flavor  Pack    2.50

[118 rows x 4 columns]

In [9]:
#Q8
ramen_data.drop_duplicates(keep='first',inplace=True)

In [10]:
#Q9
missing = ramen_data.shape[0] - ramen_data.count()
print(missing)

Company    0
Product    0
Style      2
Rating     0
dtype: int64

In [11]:
ramen_data.dropna(subset=['Style'],inplace=True)

In [12]:
#Q10
missing = ramen_data.shape[0] - ramen_data.count()
print(missing)

Company    0
Product    0
Style      0
Rating     0
dtype: int64

## EX 2

In [13]:
avo_url = 'C:\\Users\\Seith Sproule\\Documents\\UNI\\avocado.csv'
avo_data = pd.read_csv(avo_url)

In [14]:
#Q2
avo_data.nunique()

Unnamed: 0         53
Date              169
AveragePrice      259
Total Volume    18237
4046            17702
4225            18103
4770            12071
Total Bags      18097
Small Bags      17321
Large Bags      15082
XLarge Bags      5588
type                2
year                4
region             54
dtype: int64

In [15]:
#Q3
avo_data = avo_data.drop(avo_data[avo_data['region'] == 'TotalUS'].index)

In [16]:
#Q4
avo_data.drop(columns=['Unnamed: 0','4046','4225','4770'],inplace=True)

In [18]:
#Q5
date_cols = ['Date']
avo_data.Date = avo_data[date_cols].apply(pd.to_datetime)

In [19]:
#Q6
avo_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17911 entries, 0 to 18248
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          17911 non-null  datetime64[ns]
 1   AveragePrice  17911 non-null  float64
 2   Total Volume  17911 non-null  float64
 3   Total Bags    17911 non-null  float64
 4   Small Bags    17911 non-null  float64
 5   Large Bags    17911 non-null  float64
 6   XLarge Bags   17911 non-null  float64
 7   type          17911 non-null  object
 8   year          17911 non-null  int64
 9   region        17911 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 1.5+ MB